<div class="tasks-container">
  <h1 class="mb-4 text-center">Tasks</h1>

  <%= turbo_frame_tag "new_task" do %>
    <%= render "form", task: @task %>
  <% end %>

  <%= turbo_stream_from "tasks_list" %> <!-- THIS SUBSCRIBES TO BROADCASTS -->

  <ul id="tasks-list" class="list-unstyled">
    <%= render partial: "task", collection: @tasks %>
  </ul>
</div>
